[mysqld]

skip-name-resolve
max_connections          = {{ salt['pillar.get']('percona:max_connections', 100) }}
long_query_time          = {{ salt['pillar.get']('percona:long_query_time', 2) }}
server-id                = {{ salt['pillar.get']('percona:nodes', {}).get(grains['host'], {}).get('server_id', 1) }}

wsrep_provider           = /usr/lib/libgalera_smm.so

wsrep_cluster_name       = {{ salt['pillar.get']('percona:wsrep_cluster_name', 'percona-cluster') }}
{% if bootstrap is defined and bootstrap -%}
# *** WARNING - CLUSTER BOOTSTRAP MODE ENABLED ***
wsrep_cluster_address    = gcomm://
{% else -%}
wsrep_cluster_address    = {{ salt['pillar.get']('percona:wsrep_cluster_address') }}
{% endif -%}

wsrep_sst_method         = xtrabackup-v2
wsrep_sst_auth           = sstuser:{{ salt['pillar.get']('percona:passwords:xtrabackup', '') }}
wsrep_node_name          = {{ grains['host'] }}
wsrep_node_address       = {{ salt['pillar.get']('percona:nodes', {}).get(grains['host'], {}).get('server_ip') }}


pxc_strict_mode          = ENFORCING

binlog_format            = ROW
default_storage_engine   = InnoDB
innodb_autoinc_lock_mode = 2

!includedir /etc/mysql/conf.d/
!includedir /etc/mysql/percona-xtradb-cluster.conf.d/
